{% extends 'base.html.twig' %}

{% block title %}
    Liste des matchs
{% endblock %}

{% block body %}
    <h1>Liste des matchs</h1>

    <ul style="display:grid; grid-template-columns: repeat(4, 1fr); grid-gap: 20px; padding-left: 0;">
        {% for match in matchs %}
            <li style="padding: 15px; list-style-type: none;">
                <p>{{ match.teams.domicile }} - {{ match.teams.exterieur }}</p>
                <p>{{ match.date|date("m/d/Y à H:i", "Europe/Paris") }}</p>
                {% if match.scores is defined %}
                    {% if match.scores.winner is defined %}
                        <p>Terminé : {{ match.scores.domicile }} - {{ match.scores.exterieur }}</p>
                    {% else %}
                        <p>En cours : {{ match.scores.domicile }} - {{ match.scores.exterieur }}</p>
                    {% endif %}
                {% else %}
                    <p>Pas commencé</p>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}