{% extends 'base.html.twig' %}

{% block title %}
    Mon compte
{% endblock %}

{% block body %}
    <h1>Mon compte</h1>

    <p>Informations du compte : </p>
    {{ app.user.email }}

    <h1>Mes paris</h1>
    {% for bet in bets %}
        <ul>
            <li>
                {% for i, match in matchs %}
                    {% if bet.getIdMatch() == i %}
                        {{ match.teams.domicile }} - {{ match.teams.exterieur }}
                    {% endif %}
                {% endfor %}
                {{ bet.getBetHome() }} - {{ bet.getBetExt() }}
            </li>
        </ul>
    {% endfor %}

    <h1>Mes points</h1>
    J'ai actuellement {{ points }} points.

    <h1>Mon classement</h1>
    <p>Je suis <b>n° {{ classement }}</b> au classement avec <b>{{ points }} points</b>.</p>
{% endblock %}